<div class="error">
	<% if @status.to_s == "404" %>

		Sorry, this page is missing!

	<% else %>

		<!--Alert -->
		<%= image_tag 'exception_handler/alert.png', height: "120", alt: "Error!", title: "We've Got a #{@status} Error!", class: "alert" %>

		<!--Message -->
		<div class="message">
			<strong><%= @status %> (<%= details[:name] %>)</strong>
			<span><%= details[:message] %></span>
		</div>
			
	<% end %>
</div>