<!DOCTYPE html>
<html>
  <head>

    <!--Info -->
    <title><%= "Error | #{@app_name}" %></title>
    <%= stylesheet_link_tag "exception_handler/error" %>

  </head>
  
  <!--Body -->
  <body>
    <div class="error_container">
      <%= yield %>
    </div>
  </body>

</html>